# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BASBOUSA_LEFT

config ZMK_KEYBOARD_NAME
	default "Basbousa"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_BASBOUSA_LEFT || SHIELD_BASBOUSA_RIGHT

config ZMK_SPLIT
	default y

endif
