# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BATTOOTA_LEFT

config ZMK_KEYBOARD_NAME
	default "Battoota"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_BATTOOTA_LEFT || SHIELD_BATTOOTA_RIGHT

config ZMK_SPLIT
	default y

endif
