# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_WIZZA_LEFT

config ZMK_KEYBOARD_NAME
	default "Wizza"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_WIZZA_LEFT || SHIELD_WIZZA_RIGHT

config ZMK_SPLIT
	default y

endif
