/* 
  ╭───────────────────────╮          ╭───────────────────────╮
  │          0   1   2  3 │          │  4   5   6   7        │
  │  8   9  10  11  12 13 │          │ 14  15  16  17  18  19│
  │     20  21  22  23 24  ───╮ ╭────  25  26  27  28  29    │
  ╰─────────────────╮  30  31 │ │ 32  33 ╭───────────────────╯
                    ╰─────────╯ ╰────────╯           
*/

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <35>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define ALPHA_ALL HDN ARAQ HDNW
#define ALPHA_MAC HDN
#define ALPHA_WIN ARAQ HDNW
#define ALPHA_NO_QWERTY HDN HDNW

/* Missing alpha */
COMBO(taaa, &kp SQT, 17 18, ARAQ) // ط
COMBO(geem, &kp LBKT, 5 6, ARAQ) // ج
COMBO(daal, &kp RBKT, 6 7, ARAQ) // د
COMBO(zthal, &kp GRAVE, 0 1, ARAQ) // ذ
COMBO(dot, &kp DOT, 11 12, SYM SYMW) // . for sym
COMBO(comma, &kp COMMA, 10 11, SYM SYMW) // , for sym

/* Brackets */
COMBO(left_bracket, &kp LBKT, 0 10, ALPHA_ALL)
COMBO(right_bracket, &kp RBKT, 7 17, ALPHA_ALL)
COMBO(left_parenthesis, &kp LPAR, 1 11, ALPHA_ALL)
COMBO(right_parenthesis, &kp RPAR, 6 16, ALPHA_ALL)
COMBO(left_brace, &kp LBRC, 2 12, ALPHA_ALL)
COMBO(right_brace, &kp RBRC, 5 15, ALPHA_ALL)

/* Text */
COMBO(redo, &kp LG(LS(Z)), 2 3, ALPHA_MAC)
COMBO(undo, &kp LG(Z), 12 13, ALPHA_MAC)
COMBO(redow, &kp LC(Y), 2 3, ALPHA_WIN)
COMBO(undow, &kp LC(Z), 12 13, ALPHA_WIN)
COMBO(caps_word, &caps_word, 31 32, ALPHA_ALL)
COMBO(key_repeat_r, &key_repeat, 23 24, ALPHA_ALL)
COMBO(key_repeat_l, &key_repeat, 25 26, ALPHA_ALL)

COMBO(alfred, &kp LG(SPACE), 21 23, ALPHA_ALL)
COMBO(clpbrd, &kp LG(LC(LA(LS(Z)))), 21 22 23, ALPHA_ALL)
COMBO(esc, &kp ESC, 23 30, ALPHA_ALL) 
COMBO(up, &kp UP, 22 23, NAV NAVW)
COMBO(down, &kp DOWN, 21 22, NAV NAVW)

COMBO(sym1h, &macro_sym, 30 31, ALPHA_MAC)
COMBO(sym1hw, &macro_symW, 30 31, ALPHA_WIN)

/* bluetooth */
COMBO(bt_clear, &bt BT_CLR, 9 13, NAV NAVW)
COMBO(bt_0, &bt BT_SEL 0, 9 0, NAV NAVW)
COMBO(bt_1, &bt BT_SEL 1, 0 1, NAV NAVW)
COMBO(bt_2, &bt BT_SEL 2, 1 2, NAV NAVW)
COMBO(bt_3, &bt BT_SEL 3, 2 3, NAV NAVW)

#define GCOMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };

/* mac | win */
GCOMBO(switch_to_mac, &to HDN, 8 9 20)
GCOMBO(switch_to_win, &to HDNW, 18 19 29)
GCOMBO(switch_to_ara, &to ARAQ, 7 18 29)