/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │     20  21  22     │ │     23  24  25     │
  ╰───────────╮ 26  27 │ │ 28  29 ╭───────────╯
              ╰────────╯ ╰────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <30>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define GCOMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <30>; \
    key-positions = <KEYPOS>; \
  };

#define ALPHA_ALL HDN HDNW
#define ALPHA_MAC HDN
#define ALPHA_WIN HDNW

/* Missing Alphas */
COMBO(Q, &kp Q, 21 22, ALPHA_ALL) // Q 
COMBO(Z, &kp Z, 1 2, ALPHA_ALL) // Z
COMBO(V, &kp V, 20 21, ALPHA_ALL) // V
COMBO(slash, &kp SLASH, 24 25, ALPHA_ALL) // slash
COMBO(dot, &kp DOT, 12 13, SYM SYMW) // . for sym
COMBO(comma, &kp COMMA, 11 12, SYM SYMW) // , for sym

/* Brackets */
COMBO(left_bracket, &kp LBKT, 1 11, ALPHA_ALL)
COMBO(right_bracket, &kp RBKT, 8 18, ALPHA_ALL)
COMBO(left_parenthesis, &kp LPAR, 2 12, ALPHA_ALL)
COMBO(right_parenthesis, &kp RPAR, 7 17, ALPHA_ALL)
COMBO(left_brace, &kp LBRC, 3 13, ALPHA_ALL)
COMBO(right_brace, &kp RBRC, 6 16, ALPHA_ALL)

/* Text */
COMBO(redo, &kp LG(LS(Z)), 3 4, ALPHA_MAC)
COMBO(undo, &kp LG(Z), 13 14, ALPHA_MAC)
COMBO(redow, &kp LC(Y), 3 4, ALPHA_WIN)
COMBO(undow, &kp LC(Z), 13 14, ALPHA_WIN)
COMBO(caps_word, &caps_word, 27 28, ALPHA_ALL)
COMBO(delete_word_l, &kp LA(BACKSPACE), 2 12, NAV)
COMBO(delete_wordw_l, &kp LC(BACKSPACE), 2 12, NAVW)

/* misc */
COMBO(clipboard_manager, &kp LG(LC(LA(LS(Z)))), 20 21 22, ALPHA_ALL)
COMBO(launcher, &kp LG(SPACE), 20 22, ALPHA_ALL)
COMBO(esc, &kp ESC, 22 26, ALPHA_ALL)
COMBO(lock_screen, &kp LG(LC(Q)), 6 7 8, NAV)
COMBO(lock_screenw, &kp LG(L), 6 7 8, NAVW)
COMBO(sym1h, &macro_sym, 26 27, ALPHA_MAC)
COMBO(sym1hw, &macro_symW, 26 27, ALPHA_WIN)
COMBO(key_repeat_r, &key_repeat, 15 23, ALPHA_ALL)
COMBO(key_repeat_l, &key_repeat, 14 22, ALPHA_ALL)
COMBO(up, &kp UP, 20 21, NAV NAVW)
COMBO(down, &kp DOWN, 21 22, NAV NAVW)

/* bluetooth */
COMBO(bt_clear, &bt BT_CLR, 0 14, NAV NAVW)
COMBO(bt_0, &bt BT_SEL 0, 0 1, NAV NAVW)
COMBO(bt_1, &bt BT_SEL 1, 1 2, NAV NAVW)
COMBO(bt_2, &bt BT_SEL 2, 2 3, NAV NAVW)
COMBO(bt_3, &bt BT_SEL 3, 3 4, NAV NAVW)
  
/* mac | win */
GCOMBO(switch_to_HDN_mac, &to HDN, 0 10 26)
GCOMBO(switch_to_HDN_win, &to HDNW, 9 19 29)