/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │     20  21  22     │ │     23  24  25     │
  ╰───────────╮ 26  27 │ │ 28  29 ╭───────────╯
              ╰────────╯ ╰────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <30>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define GCOMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <30>; \
    key-positions = <KEYPOS>; \
  };

#ifdef GHAZAL
  #define ALPHA_ALL MAC WIN SCROLL SNIPE MBIRD WBIRD
  #define ALPHA_MAC MAC SCROLL SNIPE MBIRD
  #define ALPHA_WIN WIN SCROLL SNIPE WBIRD
#else
  #define ALPHA_ALL MAC WIN MBIRD WBIRD
  #define ALPHA_MAC MAC MBIRD
  #define ALPHA_WIN WIN WBIRD
#endif

/* Missing Alphas */
/* Hands down */
COMBO(Q, &kp Q, 21 22, MAC WIN) // Q 
COMBO(Z, &kp Z, 1 2, MAC WIN) // Z
COMBO(V, &kp V, 20 21, MAC WIN) // V

/* BIRD */
COMBO(BQ, &kp Q, 2 3, MBIRD WBIRD) // Q 
COMBO(BZ, &kp Z, 20 21, MBIRD WBIRD) // Z
COMBO(BV, &kp V, 1 2, MBIRD WBIRD) // V

/* Brackets */
COMBO(left_bracket, &kp LBKT, 1 11, ALPHA_ALL)
COMBO(right_bracket, &kp RBKT, 8 18, ALPHA_ALL)
COMBO(left_parenthesis, &kp LPAR, 2 12, ALPHA_ALL)
COMBO(right_parenthesis, &kp RPAR, 7 17, ALPHA_ALL)
COMBO(left_brace, &kp LBRC, 3 13, ALPHA_ALL)
COMBO(right_brace, &kp RBRC, 6 16, ALPHA_ALL)

/* Text */
COMBO(caps_word, &caps_word, 27 28, ALPHA_ALL)

  /* Mac */
COMBO(redo, &kp LG(LS(Z)), 3 4, ALPHA_MAC)
COMBO(undo, &kp LG(Z), 13 14, ALPHA_MAC)
COMBO(shortcat, &kp LS(LA(SPACE)), 1 2 3, ALPHA_MAC)
COMBO(mission_control, &kp LA(UP), 6 7 8, ALPHA_MAC)
COMBO(app_windows, &kp LA(DOWN), 23 24 25, ALPHA_MAC)
COMBO(delete_word, &kp LA(BACKSPACE), 2 12, NAV)
COMBO(raycast, &kp LC(LA(SPACE)), 20 26, ALPHA_ALL)
COMBO(rayclip, &kp LC(LA(LG(LS(J)))), 21 26, ALPHA_ALL)

  /* Win */
COMBO(redow, &kp LC(Y), 3 4, ALPHA_WIN)
COMBO(undow, &kp LC(Z), 13 14, ALPHA_WIN)
COMBO(delete_wordw, &kp LC(BACKSPACE), 2 12, NAVW)
COMBO(open_windows, &kp LG(TAB), 6 7 8, ALPHA_WIN)

/* misc */
COMBO(L_esc, &kp ESC, 22 26, ALPHA_ALL)
COMBO(R_esc, &kp ESC, 23 29, ALPHA_ALL)
COMBO(launcher, &kp LG(SPACE), 20 22, ALPHA_ALL)
COMBO(clipboard_manager, &kp LG(LC(LA(LS(Z)))), 20 21 22, ALPHA_ALL)
COMBO(key_repeat_r, &key_repeat, 15 23, ALPHA_ALL)
COMBO(key_repeat_l, &key_repeat, 14 22, ALPHA_ALL)

  /* Mac */
COMBO(lock_screen, &kp LG(LC(Q)), 6 7 8, NAV)
COMBO(sym1h, &macro_sym, 26 27, ALPHA_MAC)
COMBO(nav1h, &macro_nav, 28 29, ALPHA_MAC)

  /* Win */
COMBO(lock_screenw, &kp LG(L), 6 7 8, NAVW)
COMBO(sym1hw, &macro_symW, 26 27, ALPHA_WIN)
COMBO(nav1hw, &macro_navW, 28 29, ALPHA_WIN)

/* Volume */
COMBO(volup, &kp C_VOL_UP, 13 22, ALPHA_ALL)
COMBO(voldown, &kp C_VOL_DN, 12 21, ALPHA_ALL)
COMBO(volmute, &kp C_MUTE, 3 20, ALPHA_ALL)

/* bluetooth */
COMBO(bt_clear, &bt BT_CLR, 0 14, NAV NAVW)
COMBO(bt_0, &bt BT_SEL 0, 0 1, NAV NAVW)
COMBO(bt_1, &bt BT_SEL 1, 1 2, NAV NAVW)
COMBO(bt_2, &bt BT_SEL 2, 2 3, NAV NAVW)
COMBO(bt_3, &bt BT_SEL 3, 3 4, NAV NAVW)
  
/* mac | win */
GCOMBO(switch_to_mac, &to MAC, 0 10 26)
GCOMBO(switch_to_win, &to WIN, 9 19 29)

/* BIRD: mac | win */
GCOMBO(switch_to_mbird, &to MBIRD, 1 11 26)
GCOMBO(switch_to_wbird, &to WBIRD, 8 18 29)

/* bluetooth profile + default layer */
COMBO(btblMAC,  &macro_btblwin, 27 20 21, ALPHA_ALL)
COMBO(btblWIN, &macro_btblmac, 27 21 22, ALPHA_ALL)

/* prefer USB or BLE */
COMBO(OUTUSB, &out OUT_USB, 5 6 7, ALPHA_ALL)
COMBO(OUTBLE, &out OUT_BLE, 15 23 24, ALPHA_ALL)

/* soft off */
COMBO(softoff, &soft_off, 0 1 2 3, ALPHA_ALL)

/* GHAZAL trackball combos */
#ifdef GHAZAL
  /* Left hand mouse */
  COMBO(L_LCLICK_HR, &mkp LCLK, 12 13, ALPHA_ALL SCROLL SNIPE)
  COMBO(L_RCLICK_HR, &mkp RCLK, 12 11, ALPHA_ALL SCROLL SNIPE)
  COMBO(L_MCLICK_HR, &mkp MCLK, 13 11, ALPHA_ALL SCROLL SNIPE)
  COMBO(L_SCROLL, SL(SCROLL), 12 20, ALPHA_ALL SCROLL SNIPE)
  COMBO(L_SCROLL2, SL(SCROLL), 11 12 13, ALPHA_ALL SCROLL SNIPE)
  COMBO(L_SNIPE, &mo SNIPE, 27 11, ALPHA_ALL SCROLL SNIPE)
  
  /* Right hand mouse */
  COMBO(R_LCLICK_HR, &mkp LCLK, 17 16, ALPHA_ALL SCROLL SNIPE)
  COMBO(R_RCLICK_HR, &mkp RCLK, 17 18, ALPHA_ALL SCROLL SNIPE)
  COMBO(R_MCLICK_HR, &mkp MCLK, 16 18, ALPHA_ALL SCROLL SNIPE)
  COMBO(R_SCROLL, SL(SCROLL), 17 23, ALPHA_ALL SCROLL SNIPE)
  COMBO(R_SCROLL2, SL(SCROLL), 16 17 18, ALPHA_ALL SCROLL SNIPE)
  COMBO(R_SNIPE, &mo SNIPE, 28 18, ALPHA_ALL SCROLL SNIPE)
  
  COMBO(TOG_SNIPE, &tog SNIPE, 32 33, ALPHA_ALL SCROLL SNIPE)
  
#endif