# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BATTOOTAONE_LEFT

config ZMK_KEYBOARD_NAME
	default "Battootaone"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_BATTOOTAONE_LEFT || SHIELD_BATTOOTAONE_RIGHT

config ZMK_SPLIT
	default y

endif
